<style>
    /* Footer */
    footer {
        text-align: center;
        background: #111;
        color: white;
        padding: 15px;
        font-size: 14px;
    }
</style>
<footer>
    <p>&copy; 2025 Sahavi Enterprises. All rights reserved.</p>
</footer>