* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

body {
  background: url('/images/hero-bg.webp') no-repeat center center/cover;
}

.topSection {
  padding-block: 10px;
  padding-inline: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 15px; */
}

#addProductBtn {
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#addProductBtn:hover {
  background-color: #218838;
}

.stocksContainer {
  padding-bottom: 10px;
  padding-inline: 20px;
  display: flex;
  justify-content: center;
  height: 75vh;
  overflow-y: scroll;
}

.stocksContainer table {
  width: 90%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: rgba(249, 249, 249, 0.85);
}

.stocksContainer table th,
.stocksContainer table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.stocksContainer table th {
  background-color: #f0f0f0;
  color: #333;
  position: sticky;
  top: 0;
  z-index: 1;
}

.stocksContainer table td {
  background-color: rgba(255, 255, 255, 0.85);
  color: #555;
}

.stocksContainer table td select {
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100px;
  background-color: #f9f9f9;
  transition: border-color 0.2s ease;
}

.stocksContainer table td select:hover {
  border-color: #66afe9;
}

.stocksContainer table td select:focus {
  border-color: #66afe9;
  outline: none;
}

.stocksContainer table td button {
  padding: 5px 15px;
  font-size: 14px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.stocksContainer table td button:hover {
  background-color: #45a049;
}

.stocksContainer table td button:active {
  background-color: #388e3c;
}

[contentEditable=true]:empty:not(:focus):before {
  content: attr(placeholder);
  pointer-events: none;
}